<ion-header>

  <ion-navbar>
    <ion-title>Présentateur</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2>{{ speaker.lastname }} {{ speaker.firstname }}</h2>
  <img text-center src="assets/images/{{speaker.image}}"/>    
  <ion-label *ngIf="speaker.socials.length > 0">Ses réseaux sociaux</ion-label>
  <a ion-item no-lines *ngFor="let social of speaker.socials" href="{{social.link}}">{{social.class}} </a>
  <ion-label *ngIf="sessions">Ses présentations</ion-label>
  <ion-list>
    <button ion-item *ngFor="let session of sessions" (click)="goToSessionDetails(session)">
          <h2>{{ session.title }}</h2>
        </button>
  </ion-list>
  <button ion-button block (click)="saveInContact()" >Enregistrer dans les contacts</button>
</ion-content>
